**/*.dll
**/*.pdb
**/obj/
**/bin/
*.code-workspace
VolumetricShading.zip
*.opendb
*.db-wal
*.db-shm
/mods/VolumetricShading/VolumetricShadingContinued.zip
/mods/VolumetricShadingContinued/VolumetricShadingContinued.zip
